# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
/media
/staticfiles

# Environment
.env
.venv/
venv/

# VS Code
.vscode/

# Migrations
*/migrations/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/

# dotenv
.env
env

# IDE
.vscode/
